body{
	background-color: yellow;
}
header{
	background-color: pink;
	margin: 20px;
	height:130px;
	text-shadow: 3px 3px 3px red;
	box-shadow: 5px 5px 5px black;
	position: fixed;
	width:90%;
	margin-right: 20px;
	margin-top: 5px;
	border-radius: 20px;
}
header h1{
padding:20px;
	padding-left: 50px;
}
header img{
	padding-top:0px;
	margin: 0px;
	position: absolute;
	top:0px;
	left:80%;
}
footer{
	background-color:pink;
	position:fixed;
	bottom:-2px;
	width:90%;
	text-align: center;
	box-shadow: 5px 5px 5px black;
	margin-right: 20px;
	padding-left: 50px;
	margin-left:20px;
	border-radius:5px;
}
.history{
	background-color: white;
	width:90%;
	margin:20px;
}
.history h1{
	text-align: center;
	text-transform: uppercase;
	padding-left: 50%;
	padding: 5px;
	text-shadow: 5px 5px 5px darkgreen;
}
.history p{
	padding-top:10px; 
	font-family: Garamond,serif;
}
.history img{
	padding-bottom: 5px;
	border:5px solid darkgreen;
	box-shadow: 5px 5px 5px darkgreen;
	
	}
a:link{
	text-decoration: none;
	font-style: bold;
}
a:hover{
	color:red;
	text-decoration: underline;
}